/**
  BlankOn Style
**/

header {
    background-color: #73d216;
    padding: 5px;
    color: #eeeeec;
    text-align: right;
    border-bottom: 3px solid #4e9a06;
    margin: 0 0 10px 0;
}

header menu {
    list-style: none;
    margin: 0px;
}
header menu li {
    display: inline;
}

header menu li a:hover {
    background-color: #4e9a06;
    color: #e2e3db;
}

header menu li a {
    color: black;
    text-decoration: none;
    padding: 7px 5px 5px 5px;
    margin: 0x;
}

header img#logo {
    position: fixed;
    top: 0px;
    left: 0px;
}

a.submenu {
    color: black;
    padding: 0 10px 0 0;
}

#copyright {
    color: #73d216;
    text-align: center;
}
table.vertical {
    width: auto; 
}
table.vertical th {
    padding-right: 30px;
    white-space: nowrap;
}
table.vertical td {
    width: 100%;
}
table.vertical tbody tr:nth-child(odd) , 
table.vertical tbody tr.odd {
    background:#e5ecf9;
}
table.vertical tbody tr:nth-child(even) td, 
table.vertical tbody tr.even td {
    background: inherit;
}

th {
    white-space: nowrap;
}

.code {
    font-family: monospace;
}

#task-page #task-logs tr > td {
    white-space: nowrap;
}
#task-page #task-logs tr > td + td {
    width: 100%;
}
#task-page #task-changes pre {
    font-size: 0.9em;
    line-height: 1.3em;
}

#spec-page #spec-pkg tr th {
    vertical-align: top;
}
#spec-page #spec-pkg tr td pre {
    margin: 0px;
    font-size: .8em;
    line-height: 1.2em;
}
#spec-page #spec-pkg tr td pre:first-child {
    cursor: pointer;
    line-height: inherit;
}
#spec-page #spec-pkglist tr td {
    vertical-align: top;
}
#spec-page #spec-pkglist tr > td,
#spec-page #spec-pkglist tr > td + td + td {
    white-space: nowrap;
}
#spec-page #spec-pkglist tr > td:nth-child(4) {
    width: 100%;
}
#spec-page #spec-pkglist td.desc p {
    margin: 0px;
}
#spec-page #spec-pkglist td.desc p span {
    cursor: pointer;
}
#spec-page #spec-pkglist td.desc pre {
    margin: 0.5em 0;
}
#spec-page #spec-tasks tr > td:nth-child(6) {
    width: 100%;
}
#spec-page #spec-tasks tr > td:nth-child(3),
#spec-page #spec-tasks tr > td:nth-child(4),
#spec-page #spec-tasks tr > td:nth-child(7) {
    white-space: nowrap;
}
#spec-page #spec-logs tr > td {
    white-space: nowrap;
}
#spec-page #spec-logs tr > td + td + td {
    width: 100%;
    white-space: normal;
}
#spec-page #spec-sources {
    padding-left: 2em;
}

#summary-page #builders td {
    white-space: nowrap;
}
#summary-page #workers td {
    white-space: nowrap;
}

.builds td {
    white-space: nowrap;
}
.builds td:nth-child(6) {
    width: 100%;
}

.tasks td {
    white-space: nowrap;
}
.tasks td:nth-child(4) {
    text-align: right;
}
.tasks td:nth-child(5) {
    width: 100%;
}

div.paginator {
    text-align: right;
}
div.paginator a.nav {
    text-decoration: none;
    padding: 0 5px;
}

.ubuilds td {
    white-space: nowrap;
}
.ubuilds td:nth-child(5) {
    width: 100%;
}

#submit-page label {
    display: block;
    padding: 0px;
    margin: 0px;
}
#submit-page select {
    min-width: 20%;
    padding: 3px;
    margin: 0px;
}
#submit-page input[type=text] {
    width: 100%;
    margin: 0px;
    padding: 4px;
}
#submit-page li input[type=text] {
    width: 30%;
}
#submit-page #id_source_opts_bzr li {
    list-style: none;
    margin: 0 0 10px 0;
    padding: 0px;
}
#submit-page #id_source_opts_bzr li input[type="text"] {
    float: right;
    clear: right;
    width: 80%;
}
#submit-page #id_source_opts_bzr li label {
    display: inline;
}
#submit-page p.extra input {
    margin-bottom: 5px;
}
#submit-page p.extra span img {
    vertical-align: middle;
}
#submit-page p.extra span:hover {
    text-decoration: underline;
    cursor: pointer;
}

#package-page #builds td {
    white-space: nowrap;
}
#package-page #builds td:nth-child(5) {
    width: 100%;
}

.published td {
    white-space: nowrap;
}
.published td:nth-child(4) {
    width: 100%;
}
.pbuilds td {
    white-space: nowrap;
}
.pbuilds td:nth-child(4) {
    text-align: right;
}
.pbuilds td:nth-child(6) {
    width: 100%;
}

td ul, td ol {
    margin: 0px;
}

